:root {
    --primary:   #ff8522; /* Cor laranja para o esquema primário */
    --secondary: #a72d00; /* Altere se desejar uma cor secundária diferente */
    --standard:  #ffffff;
    --standard2: #000000;
    --standard3: #f7f7f7;
    --standard4: #bebebe;
    --standard5: #c4c4c4;
    /* Você pode adicionar mais substituições conforme necessário */
}
/* Estilos Gerais */
html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    height: 100vh; /* Adicionado para garantir que o body ocupe a altura total da janela */
}

#app {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Menu Lateral */
.sidebar {
    width: 235px;
    min-width: 235px;
    background-color: var(--standard2);
    color: var(--standard);
}

.sidebar a {
    color: var(--standard);
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

img {
    width: 140px;
    height: auto;
    margin: 10px auto;
    display: block;
}
.sidebar a:hover {
    background-color: var(--primary);
}

/* Conteúdo Principal */
.content {
    background-color: var(--standard3);;
    flex-grow: 1; /* Isso permite que o conteúdo se expanda e preencha o espaço restante */
    overflow-y: auto; /* Adiciona rolagem se o conteúdo for muito longo */
}

/* Estilos da Tabela */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


button {
    background-color: var(--primary); /* Cor de fundo verde */
    color: var(--standard);
    padding: 10px 15px;
    border: none;
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Transição suave para cor e transformação */
}

button:hover {
    background-color: var(--secondary); /* Cor de fundo um pouco mais escura quando passa o mouse */
    transform: scale(1.05); /* Ligeiramente maior ao passar o mouse */
}

button:active {
    transform: scale(0.95); /* Ligeiramente menor ao clicar */
}

h2 {
    color: var(--standard);
    margin: 0px 0px;
    background-color: var(--standard2);
    letter-spacing: 2px;
    padding: 15px 20px;
    border-bottom: solid 7px var(--primary);;  /* Cor de destaque para o bordo inferior */
    text-transform: uppercase;
    text-align: center;
}

h4 {
    color: var(--standard);
    margin: 0px 0px;
    background-color: var(--standard2);
    letter-spacing: 2px;
    padding: 15px 20px;
    border-bottom: solid 7px var(--primary);;  /* Cor de destaque para o bordo inferior */
    text-transform: uppercase;
    text-align: center;
}