/* Reset de estilos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos gerais */
body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.5;
    background-color: #FFFFFF;
    color: #333;
}

/* Estilos da barra superior */
#top-bar {
    background-color: #ff5e00;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#top-bar input,
#top-bar select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

h1 {
    background-color: #ff5e00;
    color: #FFFFFF;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Estilos da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 4px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    word-break: break-word;
}

/* Largura dos campos de filtro */
.filtro-input1,
.filtro-input2,
.filtro-input3 {
    width: 90px;
    padding: 6px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

/* Estilos do botão */
.btn {
    background-color: #ff5e00;
    color: white;
    padding: 4px 2px;
    width: 80px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e67400;
}

/* Estilos para o container de bolas */
#bolas-container {
    display: flex;
    flex-direction: row;
    justify-content: right; /* Espaçamento uniforme entre as bolas */
    margin: 5px 0;
}

.bola-container {
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
}

.bola {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    background-color: #FFA500;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/*Codigo novo*/
.label-bola {
    font-size: 12px; /* Tamanho de fonte menor */
    margin-top: 1px; /* Espaço entre a bola e o label */
    color: #000000; /* Cor do texto do label */
}

/* Estilos para parágrafos */
p {
    color: #333;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
img.logo {
    height: 80px;
    display: block;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/* CÓDIGO NOVO */
  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 24px 28px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 80%; /* Ajuste o valor conforme necessário */
    max-height: 80vh; /* Ajuste o valor conforme necessário */
    overflow-y: auto;
}
/* CÓDIGO NOVO */
.fechar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}
/* CÓDIGO NOVO */
#tabelaExecucoes th,
#tabelaExecucoes td {
    padding: 20px; /* Ajuste o valor conforme necessário */
}
  
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 60px;
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  .nav,
  .nav .nav-links {
      z-index: 1000;
    display: flex;
    align-items: center;
  }
  .nav {
    justify-content: space-between;
  }
  a {
    color: #663A84;
    text-decoration: none;
  }
  .nav .logo {
    font-size: 22px;
    font-weight: 500;
  }
  .nav .nav-links {
    column-gap: 20px;
    list-style: none;
  }
  .nav .nav-links a {
    transition: all 0.2s linear;
  }
  .nav.openSearch .nav-links a {
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
  }
  
  .nav .nav-links a:hover {
      background-color: #fff; /* Cor de fundo ao passar o mouse */
      color: #E5671D; /* Cor do texto ao passar o mouse */
      padding: 10px 15px; /* Ajuste o padding conforme necessário */
      border-radius: 5px; /* Adiciona bordas arredondadas */
      transition: all 0.3s ease; /* Suaviza a transição das propriedades */
    }
  
  .nav .search-icon {
    z-index: 1000;
    color: #663A84;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    position: absolute;
    right: 250px;
    height: 45px;
    max-width: 555px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s linear;
  }
  .nav.openSearch .search-box {
    opacity: 1;
    pointer-events: auto;
  }
  .search-box .search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    left: 15px;
    color: #663A84;
    transform: translateY(-50%);
  }
  .search-box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #fff;
    padding: 0 15px 0 45px;
  }
  
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: none;
  }
  
  /* responsive */
  @media screen and (max-width: 1160px) {
    .nav {
      padding: 15px 100px;
    }
    .nav .search-box {
      right: 150px;
    }
  }
  @media screen and (max-width: 950px) {
    .nav {
      padding: 15px 50px;
    }
    .nav .search-box {
      right: 100px;
      max-width: 400px;
    }
  }
  @media screen and (max-width: 768px) {
    .nav .navOpenBtn,
    .nav .navCloseBtn {
      display: block;
    }
    .nav {
      padding: 15px 20px;
    }
    .nav .nav-links {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100%;
      max-width: 280px;
      width: 100%;
      padding-top: 100px;
      row-gap: 30px;
      flex-direction: column;
      background-color: #ffffff;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      transition: all 0.4s ease;
      z-index: 100;
    }
    .nav.openNav .nav-links {
      left: 0;
    }
    .nav .navOpenBtn {
      color: #E5671D;
      font-size: 20px;
      cursor: pointer;
    }
    .nav .navCloseBtn {
      position: absolute;
      top: 20px;
      right: 20px;
      color: #E5671D;
      font-size: 20px;
      cursor: pointer;
    }
    .nav .search-box {
      top: calc(100% + 10px);
      max-width: calc(100% - 20px);
      right: 50%;
      transform: translateX(50%);
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
  }
  
  .user-icon-container {
      position: relative;
      cursor: pointer;
  }
  
  .user-icon {
      width: 35px; /* ou qualquer outro tamanho */
      height: 35px;
      border-radius: 50%; /* torna a imagem redonda */
  }
  
  .user-submenu {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
      display: none;
  }
  
  .user-submenu a {
      display: block;
      padding: 10px 15px;
      text-decoration: none;
      color: #333;
      border-bottom: 1px solid #eee;
  }
  
  .user-submenu a:hover {
      background-color: #f5f5f5;
  }
  
  .user-submenu a:last-child {
      border-bottom: none;
  }
  
  /* Mostrar o submenu quando o ícone do usuário é clicado (JavaScript pode ser necessário) */
  .user-icon-container:hover .user-submenu {
      display: block;
  }
  