:root {
    --primary:   #ff8522; /* Cor laranja para o esquema primário */
    --secondary: #a72d00; /* Altere se desejar uma cor secundária diferente */
    --standard:  #ffffff;
    --standard2: #000000;
    --standard3: #f7f7f7;
    --standard4: #bebebe;
    --standard5: #c4c4c4;
    /* Você pode adicionar mais substituições conforme necessário */
}

/* Estilos base */
body {
    font-family: Arial, sans-serif;
    background-color: var(--standard3);
    margin: 0;
    padding: 0;
    display: flex;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
}
.list-group-item-primary {
    background-color: var(--primary); /* Cor laranja */
    color: var(--standard); /* Texto branco para melhor contraste */
}
/* Se desejar, também pode personalizar os itens de lista regulares */
.list-group-item {
    border-color: var(--standard); /* Borda laranja */
}

button, .chave {
    margin: 10px 0;
    padding: 10px;
    background-color: var(--standard3);
    border: 1px solid var(--standard3);
    border-radius: 4px;
    transition: background-color 0.3s;
    font-size: 16px;
}

button {
    background-color: var(--primary);
    color: var(--standard);
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
}

button:hover {
    background-color:var(--secondary);
}

h3, h4 {
    margin-top: 0;
}

/* Menu Lateral */
#menu-lateral {
    width: 235px;
    min-width: 235px;
    background-color: var(--standard2);
    color: var(--standard);
    min-height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#menu-lateral img {
    width: 140px;
    height: auto;
    margin: 10px auto;
    display: block;
}

#menu-lateral a {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    color: var(--standard);
    transition: background-color 0.3s;
    text-align: left;
}

#menu-lateral a:hover {
    background-color: var(--primary);
}

/* Menu Superior */
#menu-superior {
    background-color: var(--standard2);
    color: var(--standard);
    padding: 20px;
    display: none;
    justify-content: center;
}

#menu-superior a {
    margin: 5px 40px;
    text-decoration: none;
    color: var(--standard);
    transition: opacity 0.3s;
}

#menu-superior a:hover {
    opacity: 0.8;
    background-color: var(--primary);
}

/* Container Principal */
#container {
    flex-grow: 1;
    padding: 0px;
    background-color: var(--standard3);
}

/* Configuração do Formulário */
#configForm {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid var(--standard3);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--standard3);
}

#configForm input, #configForm select, #configForm button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--standard5);
    border-radius: 5px;
    font-size: 16px;
}

#criaForm {
    width: 97%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid var(--standard5);
    border-radius: 8px;
    background-color: var(--standard3);
}

#criaForm input, #criaForm select, #criaForm button {
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--standard5);
    border-radius: 5px;
    font-size: 16px;
}

/* JSON Visualização */
.json-container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid var(--standard3);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--standard3);
    font-size: 20px;
}

.json-group .form-input, .form-group .form-input {
    width: 70%; /* ou a largura desejada */
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--standard3);
    border-radius: 5px;
    font-size: 18px;
}

/* Outras Estilizações */
.chave:hover {
    background-color: var(--standard3);
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow-y: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead th, tbody td {
    color: var(--standard2);
    letter-spacing: 1px;
    padding: 15px 20px;
    border-bottom: solid 4px var(--standard3);  /* Cor de destaque para o bordo inferior */
    text-transform: uppercase;
    text-align: center;
}

tbody tr:hover {
    background-color: var(--standard4);

}

tbody tr.selected {
    background-color: var(--primary);
}
 h2 {
    color: var(--standard);
    margin: 0px 0px;
    background-color: var(--standard2);
    letter-spacing: 2px;
    padding: 15px 20px;
    border-bottom: solid 7px var(--primary);;  /* Cor de destaque para o bordo inferior */
    text-transform: uppercase;
    text-align: center;
}

.form-control {
    margin-left: 30px;
    width: 94%;
    
}