/* Estilos base */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
}

button, .chave {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-size: 16px;
}

button {
    background-color: #ef672d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
}

button:hover {
    background-color: #933100;
}

h3, h4 {
    margin-top: 0;
}

/* Menu Lateral */
#menu-lateral {
    width: 230px;
    background-color: #000000;
    color: white;
    min-height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#menu-lateral img {
    width: 140px;
    height: auto;
    margin: 10px auto;
    display: block;
}

#menu-lateral a {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
    text-align: left;
}

#menu-lateral a:hover {
    background-color: #ef672d;
}

/* Menu Superior */
#menu-superior {
    background-color: #000000;
    color: white;
    padding: 20px;
    display: none;
    justify-content: center;
}

#menu-superior a {
    margin: 5px 40px;
    text-decoration: none;
    color: white;
    transition: opacity 0.3s;
}

#menu-superior a:hover {
    opacity: 0.8;
    background-color: #ef672d;
}

/* Container Principal */
#container {
    flex-grow: 1;
    padding: 20px;
    background-color: #f7f7f7;
}

/* Configuração do Formulário */
#configForm {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

#configForm input, #configForm select, #configForm button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

/* JSON Visualização */
.json-container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-size: 20px;
}

.json-group .form-input, .form-group .form-input {
    width: 70%; /* ou a largura desejada */
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 18px;
}

/* Outras Estilizações */
.chave:hover {
    background-color: #f0f0f0;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow-y: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead th, tbody td {
    color: #000000;
    letter-spacing: 1px;
    padding: 15px 20px;
    border-bottom: solid 4px #E4E4E4;  /* Cor de destaque para o bordo inferior */
    text-transform: uppercase;
    text-align: center;
}

tbody tr:hover {
    background-color: #bebebe;

}

tbody tr.selected {
    background-color: #ef672d;
}
