/* Reset de estilos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos gerais */
body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.5;
    background-color: #FFFFFF;
    color: #333;
}

/* Estilos da barra superior */
#top-bar {
    background-color: #ff5e00;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#top-bar input,
#top-bar select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

h1 {
    background-color: #ff5e00;
    color: #FFFFFF;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Estilos da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 4px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    word-break: break-word;
    font-size: 11px;
}

/* Estilos do botão */
.btn {
    background-color: #ff5e00;
    color: white;
    padding: 4px 2px;
    width: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #6f3800;
}

/* Estilos do botão */
.btn2 {
    background-color: #ff5e00;
    color: white;
    padding: 4px 2px;
    width: 90px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn2:hover {
    background-color: #6f3800;
}

.btn2:disabled {
    background-color: gray;
    color: darkgray;
    /* outros estilos */
}

/* Estilos para parágrafos */
p {
    color: #333;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

img.logo {
    height: 80px;
    display: block;
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* CÓDIGO NOVO */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 70%;
    max-height: 600px; /* ou qualquer valor que você achar apropriado */
    overflow-y: auto; /* barra de rolagem vertical quando necessário */
}

.fechar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.close-btn:hover {
  color: #000000;
  text-decoration: none;
}

#tabelaExecucoes th,
#tabelaExecucoes td {
    padding: 20px; /* Ajuste o valor conforme necessário */
}


.input-container {
    display: flex;
    justify-items: center;
    background-color: #fff;
    padding: 8px;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.inline-container {  /* Estilo para o novo container */
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
input[type="text"], input[type="radio"], label {
    font-size: 14px;
    padding: 8px;
    margin-right: 20px;
}
label {
    vertical-align: middle;
}

#datasets {
    width: 100%;
    padding: 8px;
    margin: 2x 2px;
    border-radius: 18px;
    border: 2px solid #ccc;
    font-size: 11px;
}

#id_snap {
    width: 50%;
    padding: 8px;
    margin: 2x 2px;
    border-radius: 18px;
    border: 2px solid #ccc;
    font-size: 11px;
}

#pacote{
    width: 100%;
    padding: 8px;
    margin: 2x 2px;
    border-radius: 18px;
    border: 2px solid #ccc;
    font-size: 11px;
}

#versao{
    width: 50%;
    padding: 8px;
    margin: 2x 2px;
    border-radius: 18px;
    border: 2px solid #ccc;
    font-size: 11px;
}

#basesim {
    width: 4%;
    border: 2px solid #ccc;
}
#basenao {
    width: 4%;
    border: 2px solid #ccc;
}
#rapido {
    width: 8%;
    border: 2px solid #ccc;
}
#rapido {
    width: 8%;
    border: 2px solid #ccc;
}
#completo {
    width: 8%;
    border: 2px solid #ccc;

}

#jsonNavigatorContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    font-weight: bold;
}

#jsonExibe {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    font-weight: bold;
}


.select-container {
    width: 96%;
    margin: 20px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

select {
    width: 98%;
    padding: 10px;
    font-size: 11px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
#jsonNavigator button {
    margin-bottom: 20px;  /* Espaçamento entre o botão "Voltar" e o dropdown */
}

#breadcrumb {
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 30px;
    color:  #ff5e00;
}

#dataValues {
    padding: 10px;
    background-color: #e9e9e9;
    border-radius: 8px;
    hyphens: auto;
    word-wrap: break-word;
}

button {
    background-color: #ff5e00;
    margin-left: 20px;
    margin-bottom: 10px;
    color: white;
    padding: 4px 2px;
    width: 80px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6f3800;
}

.array-item {
    display: inline-block;
    margin-right: 10px;
    font-size: 11px;
    border-radius: 4px;
}

fieldset {
    border: 1px solid #ccc;
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    font-size: 11px;
    border-radius: 4px;
}
legend {
    font-weight: bold;
    font-size: 11px;
    border-radius: 4px;
}
input[type="text"] {
    padding: 5px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.array-container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
}
.array-item {
    background: #f2f2f2;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
}